name: commits

on:
  pull_request:

jobs:
  conventionalcommits:
    runs-on: ubuntu-latest

    steps:
      - uses: taskmedia/action-conventional-commits@v0.6.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          types: "fix;feat;revert;chore"
