name: commits

on:
  push:

  pull_request:

jobs:
  conventionalcommits:
    runs-on: ubuntu-latest

    steps:
      - uses: taskmedia/action-conventional-commits@v0.7.4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          types: "fix;feat;revert;chore"
