name: docs

on:
  push:
    branches:
      - main

  workflow_dispatch:

jobs:
  readme:
    name: readme
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          # use PAT because main branch is a protected branch
          token: ${{ secrets.PAT }}

      - uses: mikefarah/yq@v4.32.2
        id: yq
        with:
          cmd: yq eval '.version' 'package.json'

      # workaround for bitflight-devops/github-action-readme-generator#172
      - run: echo "npm_package_version=${{ steps.yq.outputs.result }}" >> $GITHUB_ENV
      
      # use fixed bitflight-devops/github-action-readme-generator action
      # see issues: 179, 180 and 181
      - uses: fty4/github-action-readme-generator@619a3775fdd606926f3820f00471c0cde9f30bf1 #fty4-v0.0.1
        with:
          pretty: "prettier"
          title_prefix: "GitHub Action: "
          versioning_enabled: "true"

      - name: commit changes
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "chore(doc): autoupdated README"
          file_pattern: README.md
          push_options: "--force"
